name: Check
on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read
  id-token: write
  pull-requests: write
  issues: write
env:
  ENVS_WORKING_DIRECTORY: terraform/aws/environments
  MODULES_WORKING_DIRECTORY: terraform/aws/modules
jobs:
  detect:
    runs-on: ubuntu-latest
    outputs:
      envs_changed_dirs: ${{ steps.detect_changes.outputs.envs_changed_dirs }}
      modules_changed_dirs: ${{ steps.detect_changes.outputs.modules_changed_dirs }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history for Gitleaks scan.

      - name: Detect changes
        id: detect_changes
        uses: ./.github/actions/detect_changes

  envs-ci:
    needs: detect
    if: ${{ fromJSON(needs.detect.outputs.envs_changed_dirs)[0] != null }}
    runs-on: ubuntu-latest
    environment: ${{ matrix.envs_changed_dir }}
    strategy:
      matrix:
        envs_changed_dir: ${{ fromJSON(needs.detect.outputs.envs_changed_dirs) }}
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: artifact-${{ github.run_id }}

      - name: Setup library
        uses: ./.github/actions/setup_library
        with:
          working_directory: ${{ env.ENVS_WORKING_DIRECTORY }}/${{ matrix.envs_changed_dir }}
          oidc_role_arn: ${{ secrets.OIDC_ROLE_ARN }}

      - name: Check Terraform
        uses: ./.github/actions/check
        with:
          working_directory: ${{ env.ENVS_WORKING_DIRECTORY }}/${{ matrix.envs_changed_dir }}

  modules-ci:
    needs: detect
    if: ${{ fromJSON(needs.detect.outputs.modules_changed_dirs)[0] != null }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        modules_changed_dir: ${{ fromJSON(needs.detect.outputs.modules_changed_dirs) }}
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: artifact-${{ github.run_id }}

      - name: Setup library
        uses: ./.github/actions/setup_library
        with:
          working_directory: ${{ env.MODULES_WORKING_DIRECTORY }}/${{ matrix.modules_changed_dir }}
          skip_configure_aws: true

      - name: Check Terraform
        uses: ./.github/actions/check
        with:
          working_directory: ${{ env.MODULES_WORKING_DIRECTORY }}/${{ matrix.modules_changed_dir }}

  notify_slack:
    needs: [detect, envs-ci, modules-ci]
    if: always() && !cancelled()
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # - name: Notify slack
      #   uses: ./.github/actions/notify_slack
      #   with:
      #     slack_webhook: ${{ secrets.SLACK_WEBHOOK }}

      - name: Notify slack official
        uses: ./.github/actions/slack_webhook
        with:
          slack_webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
